<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- The scanner is the point of the app: a plate is logged by looking at it. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Диктування: голос розпізнається на самому телефоні і нікуди не їде. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Нагадування. Дозвіл на показ питається на першому нагадуванні, а не при
         встановленні: питати наперед означає питати до того, як людина зрозуміла,
         навіщо це їй. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Точний час. Нагадування о восьмій, яке приходить о девʼятій, гірше за
         відсутнє: людина вирішить, що вже пила таблетку.

         Тільки SCHEDULE_EXACT_ALARM, який питається в людини. Поруч стояв ще
         USE_EXACT_ALARM, який дається сам, і саме тому магазин пускає його лише
         будильникам, таймерам і календарям. Calvi це щоденник харчування, і на
         таке пояснення довелось би або збрехати, або отримати відмову. Дозвіл,
         який питається, коштує людині одного тапу і не коштує нам застосунку. -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Після перезавантаження телефона розклад треба відновити: інакше він
         мовчки зникає, і людина дізнається про це через пропущений прийом. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:label="Calvi"
        android:name="${applicationName}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <!-- Тільки портрет, і замок стоїть тут, а не лише у Flutter: система
             тримає його вже на заставці, до першого кадру. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Приймачі плагіна сповіщень: показ у призначений час і відновлення
             розкладу після перезавантаження. -->
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Диктування шукає системну службу розпізнавання. Без цього запису
             Android 11 і новіші її просто не показують застосунку, і мікрофон
             мовчить без жодної помилки. -->
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>
</manifest>
